body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5256ad;
    color: black;
    min-height: 100vh;
    overflow: hidden;
}

.fileUploader {
    background-color: white;
    padding: 30px;
    width: 430px;
    border-radius: 5px;
}

.fileUploader h4 {
    text-align: center;
    font-size: larger;
}

#pdfRender {
    width: 50%;
    float: left;
    width: 100%;
    height: 100%;

}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.split,
.right {
    width: 50%;
    display: inline-block;
    width: auto;
    height: 100%;
    overflow: hidden;
}


#button {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

input[type="file"]::file-selector-button {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fileList {
    position: absolute;
    top: 54%;
    right: 17%;
    background-color: white;
    padding: 30px;
    border: 00px;
    width: 430px;
    border-radius: 5px;
    display: none;

}

.fileList h4 {
    text-align: center;
    font-size: larger;
}

.fileNameSpan {
    bottom: 20px
}

.fileinp {
    color: transparent;
}